extends layout

block content
  h1= pageHomeTitle
  form(name="add-estimation", method="post")
    div.input
      span.label Max number to calculate prime number list.
      input(type="number", name="baseNumber", min="0", max="1000001")
    div.input
      span.label Position prime number to obtain from list.
      input(type="number", name="positionPrimeNumber", min="0", max="10002")
    div.actions
      input.button(type="submit", value="Calculate prime number list")
  p.result #{result}