body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #565658;
}

a {
  color: #00B7FF;
}
h1{
  text-align: center;
}
.input input{
  padding: 0.4em 0.25em;
  width: 100%;
  background: transparent;
  color: #AFB5BB;
  font-size: 1.55em;
  margin: 0.5em 1em 1em;
}
.input .label{
  font-size: 1em;
  margin-left: 1.5em;
}

.button{
  display: block;
  margin: 0 auto;
  padding: 1em;
  width: 18em;
  height: 4em;
  border: 2px solid #1ECD97;
  border-radius: 40px;
  background: transparent;
  color: #1ECD97;
  letter-spacing: 1px;
  font-size: 18px;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}
.button:hover {
  background-color: #1ECD97;
  color: #fff;
}
.result{
  margin: 2em auto 0;
  width: 21em;
  display: block;
  text-align: center;
}